<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load socialaccount %}
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149371719-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-149371719-1');
	</script>
	<script data-ad-client="ca-pub-7556965120005498" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{% block head_title %}{% endblock %}</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:wght@900|Noto+Sans+JP|Righteous&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.10.2/css/all.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'app/favicon.ico' %}"/>
	<style>
		body {
			font-family: 'Roboto', 'Noto Sans JP', sans-serif;
		}
    </style>
    {% block extra_head %}
    {% endblock %}
</head>
<body class="bg-lightdark">
	<!-- HEADER -->
	<nav class="navbar navbar-expand navbar-white bg-twitch navbar-clip shadow-sm">
    <div class="container">
		<div class="mr-1 rounded">
			<a class="navbar-brand text-light font-weight-bold" style="font-family: 'Righteous'" href="/">ClipHype<small class="ml-1 badge badge-light text-secondary">beta</small></a>
		</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav mr-auto">
            </ul>
				<ul class="navbar-nav">
					<li class="navbar-item">
						{% if user.is_authenticated %}
						<div class="font-weight-bold text-dark">
							<div class="btn-group">
								<button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<img src="{{ twitch_account.profile_image_url }}" class="rounded-circle" width="25">
									<span class="caret text-light"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a class="ml-3 text-dark" href="{% url 'report' %}">Report</a></li>
									<li><a class="ml-3 text-dark" href="{% url 'socialaccount_connections' %}">Connection</a></li>
									<li><a class="ml-3 text-dark" href="{% url 'account_logout' %}">Logout</a></li>
									<li><a class="ml-3 text-dark" href="{% url 'unlink' %}">Disconnect</a></li>
								</ul>
							</div>
						</div>
						{% else %}
						<a href="{% url 'account_login' %}" class="btn btn-primary">Login</a>
						{% endif %}
					</li>
				</ul>
        </div>
    </div>
	</nav>
	<!-- /HEADER -->

	<!-- NOTES -->
	<div id="notes" v-cloak>
    <nav v-for="note in notes" :key="note.message" v-show="note.message.length !== 0" class="navbar navbar-dark border" v-bind:class="[note.bg]">
        <div class="container-fluid">
            <span class="navbar-text text-light mx-auto">
                [[ note.message ]]
            </span>
            <div class="d-flex">
                <button class="btn font-weight-bold" v-bind:class="[note.btn]" type="button" @click="note.message = ''">×</button>
            </div>
        </div>
    </nav>
	</div>
	<!-- /NOTES -->

	<!-- MAIN -->
	<main class="bg-lightdark my-3">
	{% block content %}
	{% endblock %}
	</main>
	<!-- /MAIN -->

	<!-- FOOTER -->
	<footer class="py-4 bg-dark text-light">
		<div class="container text-center">
			<p><small class="font-weight-bold">Contact @</small>
				<a href="https://twitter.com/hrmk_code" target="_blank"><i class="fab fa-twitter-square ml-1" style="color:white; font-size: 1.5em"></i></a>
			</p>
		</div>
		<div class="text-center">
			<a href="{% url 'policy' %}" class="text-light font-weight-bold">Privacy Policy</a>
		</div>
	</footer>
	<!-- /FOOTER -->

	<script src="{% static 'app/js/jquery-3.4.1.slim.min.js' %}"></script>
	<script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'app/js/vue.min.js' %}"></script>
	<script src="https://momentjs.com/downloads/moment.js"></script>
	<script src="https://unpkg.com/vuejs-paginate@latest"></script>
	<script src="https://unpkg.com/vuejs-datepicker"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.529.0.min.js"></script>
	<script>
    var notes = [];
    {% for note in notes %}
        [[ notes.push({'message': "{{ note.message }}", 'status': "{{ note.status }}"})]]
    {% endfor %}
	</script>
	<script src="{% static 'app/js/report.js' %}"></script>
	{% block extra_script %}
	{% endblock %}
</body>
</html>
