{% extends "app/base.html" %}
{% load static %}
{% load socialaccount %}

{% block head_title %}Report{% endblock %}

{% block content %}
<div class="container">
    <div class="p-3 shadow bg-white text-center">
        <h1>Report</h1>

        <div class="form-group">
        <form action="{% url 'report' %}" method="POST">
        {% csrf_token %}
            <div class="row p-3">
                <div class="col-12">
                    <span class="">Title</span>
                    <input class="form-control" type="text" name="title" size="60" placeholder="Can be blank">
                </div>
                <div class="col-12 py-3">
                    <span class="d-block">Content<span class="text-danger ml-1">*</span></span>
                    <textarea class="form-control" name="content" rows="10" required></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary form-control">SEND</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_script %}
{% endblock %}