{% extends "app/base.html" %}
{% load socialaccount %}

{% block head_title %}Contact{% endblock %}

{% block content %}
<div class="container">
    <div class="p-3 pt-4 shadow bg-white text-center">
        <h3>How to disconnect cliphype</h3>
        <div class="p-3 mt-3 shadow-sm bg-light">
        <p>
            You can disconnect from the following URL.
        </p>
        <p>
            <a class="" href="https://www.twitch.tv/settings/connections">Twitch Settings</a>
        </p>
    </div>
    </div>
</div>
{% endblock %}